extend ../../layouts/main/layout
block vars
  -
    headerSubTitle = "Новый комментарий";
    footerSmallText = "Вы получили данное письмо, т.к. адрес вашей электронной почты был указан и подтвержден с помощью электронного письма на сайте дневника сновидений. Если вы не хотите получать письма с данной тематикой, перейдите в настройки вашего аккаунта в раздел уведомления и настройте список событий о ктороых вы хотите получать рассылку.";
    // Переменные письма
    name = "{{name}}";
    authorName = "{{authorName}}";
    authorLastName = "{{authorLastName}}";
    authorSection = "{{authorSection}}";
    authorImage = "{{authorImage}}";
    authorImage = "{{authorImage}}";
    authorlink = "{{authorlink}}";
    commentlink = "{{commentlink}}";
    commentDate = "{{commentDate}}";
    // Переменные письма для теста
    if(!production) {
      name = "Андрей";
      authorName = "Василий";
      authorLastName = "Сахаров";
      authorSection = "на вашей стене";
      //- authorSection = "к вашему сновидению";
      authorImage = "https://media-test.dreams-diary.ru/images/user_avatars/small/3.jpg";
      authorlink = "http://localhost:4200/profile/2";
      commentlink = "http://localhost:4200/profile/1";
      commentDate = "26.3.2023 - 6:34";
    }
block content
  +container.section--white
    p
      | Здравствуйте, <b>!{name}</b>. Пользователь <b><a href=!{authorlink}>!{authorName} !{authorLastName}</a></b> оставил новый комментарий !{authorSection}.
  +container.section
    table.comment
      tr.comment__overlay
        td.comment__avatar
          a(href=authorlink)
            img(src = authorImage)
        td.comment__content
          a.comment__title(href=authorlink) !{authorName} !{authorLastName}
          br
          span.comment__date=commentDate
          br
          span.comment__text
            | В целях безопасности текст комментария был скрыт. Чтобы увидеть его полностью перейдите по ссылке ниже.
    +container('no-v-spacing', 'no-h-spacing', 'auto', true)
      a.button--primary(href=commentlink) Смотреть полностью